/* Element UI 变量覆盖 */

$--color-primary: #409eff;
$--color-success: #67c23a;
$--color-warning: #e6a23c;
$--color-danger: #f56c6c;
$--color-info: #909399;

$--border-color-base: #dcdfe6;
$--border-color-light: #e4e7ed;
$--border-color-lighter: #ebeef5;

$--background-color-base: #f5f7fa;

// 覆盖颜色变量
@forward "element-ui/packages/theme-chalk/src/common/var.scss" with (
  $--colors: (
    "primary": (
      "base": $--color-primary,
    ),
    "success": (
      "base": $--color-success,
    ),
    "warning": (
      "base": $--color-warning,
    ),
    "danger": (
      "base": $--color-danger,
    ),
    "info": (
      "base": $--color-info,
    ),
  ),
  $--border-color: $--border-color-base,
  $--border-color-light: $--border-color-light,
  $--border-color-lighter: $--border-color-lighter,
  $--background-color: $--background-color-base
);
